DB_URL: jdbc:mysql://mysql-29e4b95a-team6-auction.l.aivencloud.com:11935/defaultdb?ssl-mode=REQUIRED
DB_USERNAME: avnadmin
DB_PASSWORD: AVNS_FZWZFW7M_DyawZR9xfl

CLOUDINARY_CLOUD_NAME=dooo1pcd6
CLOUDINARY_API_KEY=256438662646344
CLOUDINARY_API_SECRET=128Sa77WVCuYanMNMQVHNNknnHQ

