SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/auction
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=12345678

CLOUDINARY_CLOUD_NAME=dooo1pcd6
CLOUDINARY_API_KEY=256438662646344
CLOUDINARY_API_SECRET=128Sa77WVCuYanMNMQVHNNknnHQ

